%h1 Leanpub Sales Analytics

= link_to 'Import data', new_purchase_path

.chart= high_chart('royalties', @royalties_chart)
.chart= high_chart('sales', @sales_chart)
.chart= high_chart('averages', @average_chart)